@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inconsolata&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color: #1a1a1a;
}

button, label, input {
  font-family: 'Inconsolata', monospace!important;
  color: #fff!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  color: #fff;
}

a, p, li, td, th, span, div {
  color: #fff;
}

button {
  color: #1a1a1a!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
